.error404 {

    .site-content {
        display: flex;
        width: 60%;
        margin: 0 auto;
        padding-bottom: 3rem;

        h1 {
            font-family: 'Novecento Sans Web', sans-serif;
            font-weight: 600;
        }
    }

    .content-area {
        width: 70%;
        border-right: 1px solid #ccc;

            a {
                text-decoration: none;
                color: #248a83;
            }

            ul {
                margin: 1.5rem 0 2.5rem 0;
            }

            p {
                margin: 1.5rem 0 0.4rem 0;
            }

            h2 { 
                font-size: 1.7rem;
                font-family: 'Novecento Sans Web', sans-serif;
                color: #2f1339;
            }

            li {
                list-style: none;
                line-height: 1.75;

                a {
                    font-family: 'Merriweather Web', serif;
                }
            }

        .page-title {
            font-size: 2.9rem;
        }

        fieldset {
            border: none;
            padding: 0;
            margin: 1.5rem 0 2.5rem 0;

            i {
                display: none;
            }

            input {
                color: #666;
                background-color: #f4f4f4;
                border: 1px solid #e1e1e1;
                border-radius: 0;
                padding: 0.4rem 0.2rem;
            }            
        }
    }
}