.post-type-archive-adventures {

    .page-header {
        margin-bottom: 2.7rem;
        padding-bottom: 1.2rem;
        text-align: center;
        border-bottom: 1px dashed #c8c8c8;

        .page-title {
            font-size: 2.4rem;
        }
    }

    .adventures {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 20px;
        margin-bottom: 7rem;

        .adventure {
            list-style: none;
            position: relative;
            height: 550px;

            img {
                height: 100%;
                filter: brightness(60%);
                object-fit: cover;
            }

            .adventure-desc {
                position: absolute;
                width: 100%;
                height: 100%;
                padding: 4.8rem 1.5rem;
                top: 0;
                left: 0;
                overflow: hidden;
                
                .adventure-title {
                    font-size: 3rem;
                    padding-bottom: 3rem;
                    text-transform: normal;
                    font-weight: 300;

                    a {
                        font-family: 'Merriweather Web', serif;
                    }
                }

                a {
                    color: #fff;
                    text-decoration: none;
                }

                .btn {
                    border: 1px solid #fff;
                    padding: 0.75rem 1.5rem;
                    font-size: 0.9rem;
                    text-decoration: none;
                    text-transform: uppercase;
 
                    &:hover {
                        background-color: #248a83;
                        border: 1px solid #248a83;
                        color: #fff;
                    }
                }
            }
        }
    }
}