.page-id-53 {

    .hero-image-header {
        background-position: top !important;
    }

    .title {
        text-align: center;
        font-size: 2.4rem;
        text-transform: uppercase;
        font-weight: 300;
        padding: 2rem 0 3rem 0;
        font-family: Novecento Sans Web,sans-serif;
    }

    .shop-stuff {
        padding: 1rem 0 2rem 0;
    
        .shop-terms {
            display: flex;
            align-items: center;
            

            .shop-term {
                border: 1px solid #e1e1e1;
                border-top: 5px solid #e1e1e1;
                padding: 1rem;
                display: flex;
                margin-right: 1.3rem;
                align-items: center;
                flex-direction: column;
                text-align: center;

                &:hover {
                    border-color: #d99054;
                }

                img {
                    width: 70px;
                    height: 70px;
                }

                p {
                    padding-top: 1.2rem;
                    font-size: 1.05rem;
                }

                a {
                    color: #fff;
                    background: #248a83;
                    padding: 0.6rem 1.3rem;
                    font-size: 0.9rem;
                    text-decoration: none;
                    text-transform: uppercase;

                    &:hover {
                    background: #19625d;
                    }
                }
            }
        }
    }

    .journal-posts {
         display: flex;
    
        li {
            margin-right: 1rem;
            list-style: none;
            background: #e1e1e1;

            img {
                min-height: 250px;
            }

            .journal-desc {
                padding: 0.85rem;
                position: relative;
                background: #fff;
                border: 1px solid #e1e1e1;

                .journal-date {
                    margin-bottom: 0;
                }

                h2 {
                    line-height: 1.1;
                    margin-bottom: 3.6rem;

                    a {
                      text-decoration: none;
                      font-size: 1.4rem;
                      color: green;
                      text-transform: uppercase;
                    }
                }

                .btn {
                    position: absolute;
                    bottom: 10px;
                    left: 10px;
                    color: #000;
                    border: 1px solid #000;
                    padding: 0.5rem 1.5rem;
                    font-size: 0.9rem;
                    text-decoration: none;
                    text-transform: uppercase;
 
                    &:hover {
                        background-color: #248a83;
                        border: 1px solid #248a83;
                        color: #fff;
                    }
                }
            }
        }
    }
}
