.page-id-53 {

    .center-logo {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        overflow: hidden;
    }

    .hero-image-header {
        background-position: top !important;

        .entry-title {
            display: none;
        }
    }

    .title {
        text-align: center;
        font-size: 2.4rem;
        text-transform: uppercase;
        font-weight: 300;
        padding: 2rem 0 3rem 0;
        font-family:' Novecento Sans Web', sans-serif;
    }

    .shop-stuff {
        padding: 1rem 0 2rem 0;
    
        .shop-terms {
            display: flex;
            align-items: center;
            

            .shop-term {
                border: 1px solid #e1e1e1;
                border-top: 5px solid #e1e1e1;
                padding: 1rem 0.5rem;
                display: flex;
                margin-right: 1.3rem;
                align-items: center;
                flex-direction: column;
                text-align: center;

                &:hover {
                    border-color: #d99054;
                }

                img {
                    width: 70px;
                    height: 70px;
                }

                p {
                    padding-top: 1.2rem;
                    font-size: 1rem;
                    line-height: 1.75;
                    margin-bottom: $base__space-unit;
                }

                a {
                    color: #fff;
                    background: #248a83;
                    padding: 0.6rem 1.3rem;
                    font-size: 0.9rem;
                    text-decoration: none;
                    text-transform: uppercase;

                    &:hover {
                        background: #19625d;
                    }
                }
            }
        }
    }

    .journal-posts {
         display: flex;
    
        li {
            margin-right: 1rem;
            list-style: none;
            background: #e1e1e1;

            img {
                min-height: 250px;
            }

            .journal-desc {
                padding: 0.85rem;
                position: relative;
                background: #fff;
                border: 1px solid #e1e1e1;

                .journal-date, .journal-comments {
                    margin-bottom: 0;
                    font-size: 0.75rem;
                }

                h2 {
                    line-height: 1.1;
                    margin-bottom: 3.6rem;

                    a {
                      text-decoration: none;
                      font-size: 1.4rem;
                      color: #248a83;
                      text-transform: uppercase;

                      &:hover {
                          color: #000;
                      }
                    }
                }

                .btn {
                    position: absolute;
                    bottom: 10px;
                    left: 10px;
                    color: #000;
                    border: 1px solid #000;
                    padding: 0.5rem 1.5rem;
                    font-size: 0.9rem;
                    text-decoration: none;
                    text-transform: uppercase;
 
                    &:hover {
                        background-color: #248a83;
                        border: 1px solid #248a83;
                        color: #fff;
                    }
                }
            }
        }
    }

    .adventures {
        padding: 1rem 0 2rem 0;
        
        .adventures-posts {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: repeat(2, 1fr);
            grid-gap: 20px;
            
            li {
                list-style: none;

            .adventure-desc {
                min-height: 280px;
                height: 100%;
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;

                .adventure-title {
                    a {
                        font-weight: 300;
                        font-family: 'Merriweather Web', serif;
                }
            }
        }

            &:first-child {
                grid-column: span 2;
                grid-row: span 2;

                .adventure-title {
                    font-size: 3rem;
                    padding: 3rem 0 2rem 1.5rem;
                }
            }

            &:nth-child(2) {
                grid-column: span 2;

                .adventure-title {
                    font-size: 2.4rem;
                    padding: 3rem 0 2rem 1.5rem;
                }
            }

            &:nth-child(3), &:nth-child(4) {
                
                .adventure-title {
                    font-size: 1.5rem;
                    padding: 2rem 1rem 1rem 1.5rem;
                }
            } 
        }
    }
        a {
            color: #fff;
            text-decoration: none;
        }

        .btn {
            color: #fff;
            border: 1px solid #fff;
            padding: 0.7rem 1.5rem;
            font-size: 0.9rem;
            text-decoration: none;
            text-transform: uppercase;
            margin: 3rem 0 0 1.5rem;

            &:hover {
                background-color: #248a83;
                border: 1px solid #248a83;
                color: #fff;
            }
        }

        .btn-more {
            color: #fff;
            background: #248a83;
            padding: 0.6rem 0;
            font-size: 1.2rem;
            text-align: center;
            text-decoration: none;
            text-transform: uppercase;

            &:hover {
                background: #19625d;
            }
        }
    }
}
