html, body {
    background: #ffffff;
    font-size: 16px;
    font-family: $font__main, serif;
    line-height: 1.75;
}

a {
    font-family: 'Novecento Sans Web', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Merriweather Web', sans-serif;
}

.container {
    width: 1140px;
    margin: auto;
}