.site-header {

    display: flex;
    background: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8));
    border-bottom: 1px solid #eee;
    top: 0;
    left: 0;
    right: 0;
    position: fixed;
    z-index: 3;

    &.transparent {
        background: transparent;
        left: 0;
        right: 0; 
        position: absolute;
        top: 0;
        border: none;

        a {
            color: #fff;
        }

        .main-navigation {
            
            .links {

                .search {
                    color: #fff;
                }
                
                i {
                    color: #fff; 
                }
            }
        }
    }

    h1 {
        display: none;
    }
}