/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/

/* Links */

a {
	color: $color__link;

	&:visited {
		color: $color__link-visited;
	}
	&:hover,
	&:focus,
	&:active {
		color: $color__link-hover;
	}
	&:focus {
		outline: thin dotted;
	}
	&:hover,
	&:active {
		outline: 0;
	}
}

/* Menus */

.main-navigation {
	display: flex;
	width: 100%;
	justify-content: space-around;
	align-items: center;
	z-index: 1;

	.logo {
		margin-left: 1rem;
		width: 50px;
	}

	.links {
		display: flex;

		fieldset {
			border: none;
			padding: 0;
		}

		.search {
			width: 255px;
			border: none;
			transition: all .5s ease;
			background: transparent;
			color: #404040;
			outline: none;
			box-shadow: none;

			&::placeholder, &[value] {
				font-size: 1.2rem;
				font-family: 'Novecento Sans Web', sans-serif;
			}

			&:not(:focus):not(:valid) {
				width: 0;
			} 
		}

		i {
			color: #248a83;
			padding-top: 1.3rem;
			padding-left: 0.5rem;
			font-size: 0.95rem;
		}
	}

	ul {
		margin: 0 0 0.5rem 0;
	}

	li {
		padding: 0 0.8rem;
	}


	a {
		text-decoration: none;
		text-transform: uppercase;
		color: #248a83;
		font-size: 1rem;	
		font-family: 'Novecento Sans Web', sans-serif;
	}
	

	.nav-menu {
		display: flex;
		padding-top: 1rem;
		align-items: center;

		li {
			list-style: none;
		}

		i {
			cursor: pointer;
		}
	}
}

@media screen and (min-width: 768px) {
	.menu-toggle {
		display: none;
	}
	.main-navigation ul {
		display: block; 
	}
}