/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/

.widget {
	margin: 0 0 $base__space-unit;

	/* Make sure select elements fit in widgets. */
	select {
		max-width: 100%;
	}
}

/* Search widget. */
.widget_search .search-submit {
	display: none;
}


.widget-area {
	padding: 2rem 0 2rem 4rem;
	font-size: 1.1rem;
	line-height: 1.5;

	h2 {
		font-size: 1.7rem;
		margin-bottom: 1.5rem;
	}

	i {
		padding-right: 1rem;
	}

	a {
		color: #248a83;
		text-decoration: none;
	}

	span {
		font-weight: bold;
	}

	p {
		margin-bottom: 1rem;
	}

	ul {
		margin: 0;
	}

	li {
		list-style: none;
		text-align: left;
	}
}